
{% extends "main.html" %}

<link rel="stylesheet" href="{{ 'assets/stylesheets/home.css' | url }}" />

<!-- Tabs -->
{% block tabs %}{% endblock %}

<!-- Content -->
{% block content %}

<link rel="stylesheet" href="{{ 'assets/stylesheets/home.css' | url }}" />
  <!-- Hero for landing page -->
  <section class="mdx-container">
    <div class="md-grid md-typeset">
      <div class="mdx-hero">

        <section>
          <div class=home-hero>
            <div class=home-hero-text>
              <h1>Software Everywhere</h1>
            </div>
            <div class=home-hero-image>
            </div>
          </div>
        </section>
        <section>
          <div class=home-description>
            <div class='row'>
              <div class='column'>
               What is Software Everywhere
              </div>
              <div class='column'>
                To help the adoption of IBM Hybrid Cloud Software through our Ecosystem, we have launched Software Everywhere initiative.
                The programme is designed to deliver a set of Site Reliability Engineering automation.
                The automation would help IBM Partners to accelerate adoption of IBM Technology on key Hyperscaler partnerships, specifically AWS and Azure and IBM Cloud.
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class=home-purpose>
            <div class='row'>
              <div class='column'>
                Target Personas
              </div>
              <div class='column'>
                The SWE SRE assets and tools are targeted to cover three personas:
                <ul>
                  <li>Tech Sellers--Leads Technical Sales of IBM Technology combined with Partner Offerings</li>
                  <li>Prototype Build Engineer--Development team member focused on designing prototype</li>
                  <li>Production SRE--SRE skilled who uses software and automation to solve problems</li>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
{% endblock %}

<!-- Application footer -->
{% block footer %}
{{ super() }}
{% endblock %}

